.contenedor {
    padding: 2rem;
    display: flex;
    .cuadro {
        height: 50px;
        width: 50px;
        position: relative;
        margin: 1rem;
        flex-direction: row;
    }
    .uno {
        background-color: aqua;
    }
    .dos {
        background-color: black;
    }
    .tres {
        background-color: blueviolet;
    }
}